@import "../../../global.scss";


.container-tarefas{
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 5%;
    padding: 1.5rem;
    box-shadow: 3px 3px 20px $container-shadow-color;
    .title-part{
        font-family: 'Raleway-Bold';
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    .scroll-part{
        overflow: scroll;
        height: 100%;
        max-height: 23rem;
        max-width: 100%;
        .teste{
            height: 50px;
        }
    }
}