@import "../../../global.scss";

.card-item-tarefa{
    width: 100%;
    height: 5rem;
    background-color: $card-color3;
    border-radius: 0.7rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 5px $card-shadow-color;
    border: 1px solid #0c101a;

    .text-part{
        display: flex;
        align-items: center;
        font-family: 'Kodchasan-Bold';
        font-size: 1.2rem;
    }

    .buttons-part{
        @include AllCenter;
        gap: 1rem;
        .btn-excluir{
            background: $high-relevance;
        }
        .btn-edit{
           background-color: $medium-relevance;
        }

        button{
            padding: 0.5rem;
            width: 2.5rem;
            height: 2.5rem;
            @include AllCenter;
            border-radius: 0.3rem;
            border: 0.5px solid #0c101a;
            transition: all .4s;
            cursor: pointer;

            &:hover{
                transform: scale(1.05);
            }
        }

        img{
            width: 1.5rem;
        }
    }

    @media (max-width: $w1920){
        padding: 0.8rem 1.5rem;
    }
        
    @media (max-width: $w1440) {
        padding: 0.5rem 1rem;
        .text-part{
            font-size: 0.8rem;
        }
        .buttons-part{
            gap: 0.5rem;
            button{
                padding: 0.3rem;
                width: 2rem;
                height: 2rem;
                &:hover{
                    transform: scale(1.00);
                    filter: brightness(1.2);
                }
            }
            img{
                width: 1.2rem;
            }
        }
    }
}