@import "../../../global.scss";

.rbc-calendar{
    .rbc-toolbar{
        width: 100%;
        .rbc-btn-group{
            button{
                border-color:  $list-color;
                width: auto;
                font-family: 'Kodchasan-SemiBold';
                transition: all .4s;
                &:hover{
                    background: $hover-color;
                }
            }
            .rbc-active{
                box-shadow: none;
                background: $button-color;
                color: #fff;
    
                &:hover{
                    background: $button-hover-color;
                    color: #fff;
                }
            }
        }
    }
}

.rbc-month-view{
    border-color:  $list-color;
    .rbc-month-header{
        .rbc-header{
            border-color:  $list-color;
        }
    }
    .rbc-month-row{
        border-color:  $list-color;
        color: black;
        .rbc-day-bg{
            border-color:  $list-color;
        }
        .rbc-off-range-bg{
            background: $hover-color;
        }
        .rbc-row-content{
            .rbc-row {
                button{
                    color: black !important;
                }
            }
        }
    }
}