@import "../../../global.scss";

.rbc-toolbar{
    .rbc-btn-group{
        button{
            border-color: $header-color;
            font-family: 'Raleway-SemiBold';
            transition: all .4s;
            &:hover{
                background: $hover-color;
            }
        }
        .rbc-active{
            box-shadow: none;
            background: $button-color;
            color: #fff;

            &:hover{
                background: $button-hover-color;
                color: #fff;
            }
        }
    }
}

.rbc-month-view{
    border-color: $header-color;
    .rbc-month-header{
        .rbc-header{
            border-color: $header-color;
        }
    }
    .rbc-month-row{
        border-color: $header-color;
        .rbc-day-bg{
            border-color: $header-color;
        }
        .rbc-off-range-bg{
            background: $hover-color;
        }
    }
}