//fontes
  @font-face {
    font-family: 'Raleway'; 
    src: url('./assets/fonts/Raleway-Regular.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal;  
  }
  
  @font-face {
    font-family: 'Raleway-Bold'; 
    src: url('./assets/fonts/Raleway-Bold.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal;  
  }
  
  @font-face {
    font-family: 'Raleway-Light'; 
    src: url('./assets/fonts/Raleway-Light.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal;  
  }

  @font-face {
    font-family: 'Raleway-SemiBold'; 
    src: url('./assets/fonts/Raleway-SemiBold.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal;  
  }

  @font-face {
    font-family: 'Kodchasan'; 
    src: url('./assets/fonts/Kodchasan-Regular.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal;  
  }
  
  @font-face {
    font-family: 'Kodchasan-Bold'; 
    src: url('./assets/fonts/Kodchasan-Bold.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal;  
  }
  
  @font-face {
    font-family: 'Kodchasan-Light'; 
    src: url('./assets/fonts/Kodchasan-Light.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal;  
  }

  @font-face {
    font-family: 'Kodchasan-SemiBold'; 
    src: url('./assets/fonts/Kodchasan-SemiBold.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal;  
  }

  //cores
  $bg-color: #f6f6f6;
  $bg-color2: #b3d6e3;
  $card-color3: #98D8EF;
  $card-color2: #ff5835;
  $card-color-shadow: #c09d35;
  $card-color: #FFD65A;
  $card-shadow-color: #0000002c;
  $button-color: #ff5835;
  $button-hover-color: #ad3c25;
  $header-color: #f7f7f53b;
  $container-shadow-color: #00000081;
  $hover-color: #c2a4ea;
  $list-color: #020c30;

  $high-relevance: #FF5E5E;
  $medium-relevance: #ffffff;
  $low-relevanec: #71BA28;

  
  
//tamanhos de tela
  $w2500: 2500px;
  $w1920: 1920px;
  $w1700: 1700px;
  $w1536: 1536px;
  $w1440: 1440px;
  $w1280: 1280px;
  $w1366: 1366px;
  $w1180: 1180px;
  $w1052: 1052px;
  $w934: 934px;
  $w850: 850px;
  $w800: 800px;
  $w740: 740px;
  $w640: 640px;
  $w680: 680px;
  $w560: 560px;
  $w480: 480px;
  $w415: 415px;
  $w380: 380px;
  $w350: 350px;
  $w330: 330px;

//mixins
@mixin AllCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}