@import "../../../global.scss";

.modal-content{

    .modal-header{
        .modal-title{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 2rem;
            font-weight: bold;
            color: black;
        }
    }
    
    .modal-body {
        color: black;
        padding: 2rem 2rem !important;

        label{
            position: static;
        }

        .btn{
            border: 1px solid black;
            color: black;
          }

        .btn-iniciar{
            background: $hover-color;
    
            &:hover{
              background: $hover-color;
              color: #000000;
            }
        }
    
        .btn-resetar{
            background: $card-color3;
    
            &:hover{
              background: $card-color3;
              color: #000000;
            }
        }
    }
}

.group {
    position: relative;
    margin-bottom: 45px;
    select {
        font-size: 18px;
        padding: 10px;
        display: block;
        width: 300px;
        border: none;
        border-bottom: 1px solid #000000;
        background: transparent;
        appearance: none;

        &:focus {
            outline: none;
            border-bottom: 2px solid #5264AE;
        }
    }

    input {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 300px;
        border: none;
        border-bottom: 1px solid #000000;
        border-radius: 0%;
        
        &:focus {
          outline: none;
        }
      
        &:focus ~ label, &:valid ~ label {
          top: -20px;
          font-size: 14px;
          color: #5264AE;
        }
        
        &:focus ~ .bar:before, &:focus ~ .bar:after {
          width: 50%;
        }
        
        &:focus ~ .highlight {
          animation: inputHighlighter 0.3s ease;
        }
      }

    input[type="date"] {
        position: relative;
        
        &:focus + label,
        &:not(:placeholder-shown) + label {
            display: block;
            top: -20px;
            font-size: 14px;
            color: #5264AE;
            transition: 0.2s ease all;
        }
    }
      
      label {
        color: #000000;
        font-size: 18px;
        font-weight: normal;
        pointer-events: none;
        position: static;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
      }
      
      .bar {
        position: relative;
        display: block;
        width: 300px;
        
        &:before, &:after {
          content: '';
          height: 2px;
          width: 0;
          bottom: 1px;
          position: absolute;
          background: #5264AE;
          transition: 0.2s ease all;
        }
      
        &:before {
          left: 50%;
        }
        
        &:after {
          right: 50%;
        }
      }
      
      .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
      }
      
  }

  .modal-footer{
    flex-direction: column-reverse;

    .btn{
      border: 1px solid black;
      color: black;
    }

    .btn-primary{
      background: $card-color;

      &:hover{
        color: #000000;
        background: $card-color;
      }
    }
  }