@import "../../../global.scss";

.container-main{
    background: $bg-color;
    display: grid;
    grid-template-columns: 30% 70%;
    .left-container{
        background: red;
        
    }
    .right-container{
        background: purple;
    }
}