@import "../../../global.scss";

.container-main{
    background: $bg-color;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 30% 70%;
    .left-container{
        padding: 2rem 3rem;
        
    }
    .right-container{
        display: grid;
        grid-template-rows: 32% 68%;
        .carousel-part{
            @include AllCenter;
            background: #fff;
            box-shadow: 3px 3px 20px $card-shadow-color;
            margin: 3rem 3rem 0rem 0;
            border-radius: 8px;

        }
        .calendar-part{
            @include AllCenter;
            padding: 2.5rem 3rem 2.5rem 0;
        }
    }

    @media (max-width: $w1920) {
        .left-container{
            padding: 1.5rem 2rem;
        } 
    }

    @media (max-width: $w1440) {
        .left-container{
            padding: 1rem 1.5rem;
        }
    }
}