@import "../../../global.scss";

.card-item-carousel{
    background: $card-color;
    width: 16rem;
    height: 12rem;
    border-radius: 0.7rem;
    box-shadow: 2px 2px 5px $card-shadow-color;
    padding: 1.2rem 1rem;
    margin: 0.5rem;
    border: 1px solid #0c101a;

    .upper-part{
        display: grid;
        grid-template-columns: 85% 15%;
        .left-part{
            .title-part{
                font-family: 'Kodchasan-SemiBold';
                font-size: 1.2rem;
                margin-bottom: 0.4rem;
            }
            .priority-part{
                height: 0.4rem;
                width: 80%;
                background: #fff;
                border-radius: 5px;
                .color-part{
                    height: 100%;
                    width: 80%;
                    border-radius: 5px;
                    background-color: $high-relevance;
                }
            }
        }
        .right-part{

        }
    }
}